
.speechBubbleLeft {
    position: relative;
    background: #dfdfdf;
    border-radius: .4em;
    transform: rotate(6deg);
    box-shadow: 2px 2px 5px grey;
}
.speechBubbleLeft {
    width: 85%;
    padding: 30px 20px;
    margin: 2em 0;
    margin-left: 30px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 150%;
    font-family: 'Love Ya Like A Sister', cursive;
    text-shadow: 0 -0.05em 0.1em rgba(255, 255, 255, 0.3);
}

.votingRoomMessage {
    font-family: 'Special Elite', cursive;
}

.leftVote{
    padding-right: 16px;
}

.speechBubbleLeft:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #dfdfdf;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}


element.style {
    box-shadow: 2px 2px 5px grey;
}

.speechBubbleRight {
    position: relative;
    background: #dfdfdf;
    border-radius: .4em;
    transform: rotate(-6deg);
    box-shadow: 2px 2px 5px grey;

}

.speechRow {
    padding-left: 15px;
}

.speechBubbleRight {
    width: 85%;
    padding: 30px 20px;
    margin: 2em 0;
    margin-left: 15px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 150%;
    font-family: 'Love Ya Like A Sister', cursive;
    text-shadow: 0 -0.05em 0.1em rgba(255, 255, 255, 0.3);
}

.speechBubbleRight:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 70%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #dfdfdf;
    border-bottom: 0;
    border-right: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}

/* .megaScroll{
    overflow: scroll;
} */

/* .h-100{
    overflow:scroll;
} */

.playerFaceDivLeft {
    width: 10%;
    min-width: 100px;
    margin-right: 10px;
    /* display: inline; */
    float: none;
    position: absolute;
    bottom: -20%;
    left: 5%;
  }
  
  .playerFaceDivLeft img {
    width: 100%;
    height: auto;
  }

  .playerFaceDivRight {
    width: 10%;
    min-width: 100px;
    margin-right: 10px;
    /* display: inline; */
    float: none;
    position: absolute;
    bottom: -20%;
    right: 5%;
  }
  
  .playerFaceDivRight img {
    width: 100%;
    height: auto;
  }

  .voteText {
    font-family: 'Alfa Slab One', cursive;
    font-size: 200%;
  }

.cantVote{
    background: #EB6864;
}


.speechBubbleLeftCantVote {
    position: relative;
    background: #EB6864;
    border-radius: .4em;
    transform: rotate(6deg);
    box-shadow: 2px 2px 5px grey;
}
.speechBubbleLeftCantVote {
    width: 85%;
    padding: 30px 20px;
    margin: 2em 0;
    margin-left: 30px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 150%;
    font-family: 'Love Ya Like A Sister', cursive;
    text-shadow: 0 -0.05em 0.1em rgba(255, 255, 255, 0.3);
}


.speechBubbleLeftCantVote:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #EB6864;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}

.speechBubbleRightCantVote {
    position: relative;
    background: #EB6864;
    border-radius: .4em;
    transform: rotate(-6deg);
    box-shadow: 2px 2px 5px grey;

}

.speechBubbleRightCantVote {
    width: 85%;
    padding: 30px 20px;
    margin: 2em 0;
    margin-left: 15px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 150%;
    font-family: 'Love Ya Like A Sister', cursive;
    text-shadow: 0 -0.05em 0.1em rgba(255, 255, 255, 0.3);
}

.speechBubbleRightCantVote:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 70%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #EB6864;
    border-bottom: 0;
    border-right: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}