.leftBracket {
    max-width: 30px;
    height: auto;
    margin-left: 100%;
    float:none;
    clear:both;
}

.promptArea {
    width:100%;
    min-height: 200px;
    /* max-height:300px; */
    font-size: 24pts;
    font-family: 'Alfa Slab One', cursive;
    display: block;
}

.promptArea p {
    font-size: 24pt;
    line-height: 24pt;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;

}

.promptText {
    font-size: 24pts;
    text-align: center;

}

.rightBracket {
    max-width: 30px;
    height: auto;
    float:none;
    clear:both;
}

.bracket {
    /* width:100%;
    height:100%; */
    max-width:75px;
    max-height:300px;
}

.noPadding {
    padding-left:0px;
    padding-right:0px;
}

/* div {
    display: inline;
} */

@media only screen and (max-width: 480px) {
.rightBracket {
      display:none;
}

.leftBracket {
    display:none;
}

.promptArea{
    margin-left: 15px;
}
}