.promptInputField {
    /* width: 100%!important;
    border-radius: 5px;
    border: solid;
    border-color: #000;
    border-width: 2px;
    height: 24pt;
    font-size: 18pt;
    font-family: 'Love Ya Like A Sister', cursive; */
}

.inputPrompts {
    width:100%;
    padding-top: 10px;
    /* margin-left: 30px;
    align-content: center;
    justify-content: center;
    border-radius: 5px!important;
    border: solid!important;
    border-color: #000!important;
    border-width: 2px!important;
    height: 24pt!important;
    font-size: 18pt!important; */
    font-family: 'Love Ya Like A Sister', cursive!important;
}

.invisible {
    opacity: 0.01;
    -webkit-transition: opacity 2s ease-in-out; /* Safari */
    transition: opacity 2s ease-in-out;
}

#firstPromptText {
    /* height: 24pt!important; */
    font-size: 18pt!important;
    font-family: 'Love Ya Like A Sister', cursive!important;
    padding: 10px 12px 10px;
}

#secondPromptText {
    font-size: 18pt!important;
    font-family: 'Love Ya Like A Sister', cursive!important;
    padding: 10px 12px 10px;
}

.inputPrompts label, input {
    /* font-family: 'Love Ya Like A Sister', cursive!important; */
    padding: 10px 12px 10px;
}

#fixMarginBox {
    margin: auto;
}
/* 
root {
    font-size: 18pt;
    font-family: 'Love Ya Like A Sister', cursive!important;
}

label, input {
    font-size: 18pt;
    font-family: 'Love Ya Like A Sister', cursive!important;
}

form {
    font-size: 18pt;
    font-family: 'Love Ya Like A Sister', cursive!important; 
} */