.createRoomButton {
    font-size: 150%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-family: 'Special Elite', cursive;

}

.MuiInputBase-root-36 {
    font-family: 'Special Elite', cursive;
    font-size: 150%!important;

}

.MuiInputLabel-shrink-12 {
    font-family: 'Special Elite', cursive!important;
    font-size: 150%!important;

}

.MuiFormLabel-root-16 {
    font-family: 'Special Elite', cursive!important;
    font-size: 150%!important;

}

.MuiInputBase-input-46 {
    font-family: 'Special Elite', cursive!important;
    font-size: 150%!important;
    color: #000!important;
}