/* .mainCapture {
    max-height: 100vh;
    max-width:100vw;
    overflow: hidden;
    float: none;
     position: absolute; 
  } */
  
  .background {
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: -1;
    position: absolute;
    overflow:hidden;
    float: none;
    bottom: .001vh;
  }
  
  .background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .background span:nth-child(1) {
    color: #9c9c9c;
    top: 62%;
    left: 98%;
    animation-duration: 11.5s;
    animation-delay: -8.9s;
    transform-origin: 0vw 6vh;
    box-shadow: -40vmin 0 11.2061674658vmin currentColor;
  }
  .background span:nth-child(2) {
    color: #9c9c9c;
    top: 24%;
    left: 40%;
    animation-duration: 14.3s;
    animation-delay: -15.1s;
    transform-origin: 6vw -6vh;
    box-shadow: 40vmin 0 13.1215623975vmin currentColor;
  }
  .background span:nth-child(3) {
    color: #E8E9EB;
    top: 63%;
    left: 8%;
    animation-duration: 14.8s;
    animation-delay: -15.5s;
    transform-origin: -17vw -21vh;
    box-shadow: -40vmin 0 9.0035958323vmin currentColor;
  }
  .background span:nth-child(4) {
    color: #7F7F7F;
    top: 78%;
    left: 96%;
    animation-duration: 12.6s;
    animation-delay: -11.5s;
    transform-origin: 18vw -18vh;
    box-shadow: -40vmin 0 14.7186207309vmin currentColor;
  }
  .background span:nth-child(5) {
    color: #7F7F7F;
    top: 90%;
    left: 97%;
    animation-duration: 14.9s;
    animation-delay: -2.9s;
    transform-origin: -8vw 11vh;
    box-shadow: 40vmin 0 6.1223585399vmin currentColor;
  }
  .background span:nth-child(6) {
    color: #E8E9EB;
    top: 44%;
    left: 27%;
    animation-duration: 11s;
    animation-delay: -11.2s;
    transform-origin: 6vw 3vh;
    box-shadow: 40vmin 0 7.2022347988vmin currentColor;
  }
  .background span:nth-child(7) {
    color: #E8E9EB;
    top: 29%;
    left: 95%;
    animation-duration: 15.4s;
    animation-delay: -4.3s;
    transform-origin: 1vw -18vh;
    box-shadow: 40vmin 0 9.4320200421vmin currentColor;
  }
  .background span:nth-child(8) {
    color: #7F7F7F;
    top: 17%;
    left: 73%;
    animation-duration: 11.7s;
    animation-delay: -16s;
    transform-origin: 21vw -22vh;
    box-shadow: 40vmin 0 11.000620371vmin currentColor;
  }
  .background span:nth-child(9) {
    color: #E8E9EB;
    top: 96%;
    left: 56%;
    animation-duration: 14.6s;
    animation-delay: -9.9s;
    transform-origin: 19vw -16vh;
    box-shadow: 40vmin 0 9.3456194712vmin currentColor;
  }
  .background span:nth-child(10) {
    color: #9c9c9c;
    top: 60%;
    left: 2%;
    animation-duration: 13s;
    animation-delay: -11.2s;
    transform-origin: 24vw -18vh;
    box-shadow: -40vmin 0 14.2048345366vmin currentColor;
  }
  .background span:nth-child(11) {
    color: #E8E9EB;
    top: 26%;
    left: 39%;
    animation-duration: 10.9s;
    animation-delay: -13.6s;
    transform-origin: 5vw 15vh;
    box-shadow: -40vmin 0 13.7113067564vmin currentColor;
  }
  .background span:nth-child(12) {
    color: #9c9c9c;
    top: 99%;
    left: 60%;
    animation-duration: 13.7s;
    animation-delay: -8.1s;
    transform-origin: 2vw 21vh;
    box-shadow: -40vmin 0 13.2058459356vmin currentColor;
  }
  .background span:nth-child(13) {
    color: #E8E9EB;
    top: 86%;
    left: 73%;
    animation-duration: 11.8s;
    animation-delay: -0.1s;
    transform-origin: -20vw 17vh;
    box-shadow: -40vmin 0 11.9970358475vmin currentColor;
  }
  .background span:nth-child(14) {
    color: #E8E9EB;
    top: 92%;
    left: 22%;
    animation-duration: 14.2s;
    animation-delay: -7.9s;
    transform-origin: 8vw -16vh;
    box-shadow: 40vmin 0 5.2076971445vmin currentColor;
  }
  .background span:nth-child(15) {
    color: #E8E9EB;
    top: 17%;
    left: 37%;
    animation-duration: 13s;
    animation-delay: -12.4s;
    transform-origin: -16vw 19vh;
    box-shadow: 40vmin 0 7.7968088195vmin currentColor;
  }
  .background span:nth-child(16) {
    color: #E8E9EB;
    top: 58%;
    left: 72%;
    animation-duration: 15.6s;
    animation-delay: -14.9s;
    transform-origin: -2vw 20vh;
    box-shadow: 40vmin 0 5.587721109vmin currentColor;
  }
  .background span:nth-child(17) {
    color: #E8E9EB;
    top: 19%;
    left: 45%;
    animation-duration: 11.6s;
    animation-delay: -8.6s;
    transform-origin: 16vw 22vh;
    box-shadow: 40vmin 0 9.4496133547vmin currentColor;
  }
  .background span:nth-child(18) {
    color: #E8E9EB;
    top: 41%;
    left: 69%;
    animation-duration: 14.7s;
    animation-delay: -14.6s;
    transform-origin: 11vw -16vh;
    box-shadow: 40vmin 0 10.8218031032vmin currentColor;
  }
  .background span:nth-child(19) {
    color: #9c9c9c;
    top: 87%;
    left: 67%;
    animation-duration: 11.9s;
    animation-delay: -4.8s;
    transform-origin: -12vw 18vh;
    box-shadow: 40vmin 0 11.9790467966vmin currentColor;
  }
  .background span:nth-child(20) {
    color: #7F7F7F;
    top: 49%;
    left: 89%;
    animation-duration: 12s;
    animation-delay: -12.1s;
    transform-origin: -16vw -10vh;
    box-shadow: 40vmin 0 14.4885565033vmin currentColor;
  }
  
  @keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }
  
  @media only screen and (max-width: 768px) {
    .background {
      display:none;
    }
}